# Statistics

## Mean

In [2]:
# Python code to demonstrate the working of 
# mean()

import numpy as np

# initializing list 
li = [1, 2, 3, 3, 2, 2, 2, 1] 

# using mean() to calculate average of list
# elements 
print ("The average/mean of list values is : ",end="") 
print (np.mean(li))

The average/mean of list values is : 2.0

## Median

In [4]:
# Python code to demonstrate the 
# working of median() on various 
# range of data-sets 
import numpy as np

# tuple of positive integer numbers 
data1 = (2, 3, 4, 5, 7, 9, 11) 
# tuple of floating point values 
data2 = (2.4, 5.1, 6.7, 8.9) 
# tuple of a set of negative integers 
data4 = (-5, -1, -12, -19, -3) 
# tuple of set of positive 
# and negative integers 
data5 = (-1, -2, -3, -4, 4, 3, 2, 1) 

# Printing the median of above datasets 
print("Median of data-set 1 is % s" % (np.median(data1))) 
print("Median of data-set 2 is % s" % (np.median(data2))) 
print("Median of data-set 4 is % s" % (np.median(data4))) 
print("Median of data-set 5 is % s" % (np.median(data5)))

Median of data-set 1 is 5.0
Median of data-set 2 is 5.9
Median of data-set 4 is -5.0
Median of data-set 5 is 0.0

## Mode

In [9]:
# Python code to demonstrate the 
# working of mode() function 
# on a various range of data types 

from scipy import stats
# tuple of positive integer numbers 
data1 = (2, 3, 3, 4, 5, 5, 5, 5, 6, 6, 6, 7) 
# tuple of a set of floating point values 
data2 = (2.4, 1.3, 1.3, 1.3, 2.4, 4.6) 
# tuple of a set of negative integers 
data4 = (-1, -2, -2, -2, -7, -7, -9) 


# Printing out the mode of the above data-sets 
print("Mode of data set 1 is " , (stats.mode(data1))) 
print("Mode of data set 2 is " , (stats.mode(data2))) 
print("Mode of data set 4 is " , (stats.mode(data4)))

Mode of data set 1 is  ModeResult(mode=5, count=4)
Mode of data set 2 is  ModeResult(mode=1.3, count=3)
Mode of data set 4 is  ModeResult(mode=-2, count=3)

## Range

In [10]:
# Sample Data 
arr = [1, 2, 3, 4, 5]

#Finding Max 
Maximum = max(arr)
# Finding Min 
Minimum = min(arr) 

# Difference Of Max and Min
Range = Maximum-Minimum	 
print("Maximum = {}, Minimum = {} and Range = {}".format(
	Maximum, Minimum, Range))

Maximum = 5, Minimum = 1 and Range = 4

## Variance

In [12]:
# Python code to demonstrate variance()
# function on varying range of data-types

import numpy as np

# tuple of a set of positive integers
# numbers are spread apart but not very much
sample1 = (1, 2, 5, 4, 8, 9, 12)

# tuple of a set of negative integers
sample2 = (-2, -4, -3, -1, -5, -6)

# tuple of a set of positive and negative numbers
# data-points are spread apart considerably
sample3 = (-9, -1, -0, 2, 1, 3, 4, 19)

# tuple of a set of floating point values
sample5 = (1.23, 1.45, 2.1, 2.2, 1.9)

# Print the variance of each samples
print("Variance of Sample1 is % s " % (np.var(sample1)))
print("Variance of Sample2 is % s " % (np.var(sample2)))
print("Variance of Sample3 is % s " % (np.var(sample3)))
print("Variance of Sample5 is % s " % (np.var(sample5)))

Variance of Sample1 is 13.551020408163264
Variance of Sample2 is 2.9166666666666665
Variance of Sample3 is 53.484375
Variance of Sample5 is 0.14090400000000006

## std deviation

In [13]:
# Python code to demonstrate stdev()
# function on various range of datasets

import numpy as np
# creating a varying range of sample sets
# numbers are spread apart but not very much
sample1 = (1, 2, 5, 4, 8, 9, 12)

# tuple of a set of negative integers
sample2 = (-2, -4, -3, -1, -5, -6)

# tuple of a set of positive and negative numbers
# data-points are spread apart considerably
sample3 = (-9, -1, -0, 2, 1, 3, 4, 19)

# tuple of a set of floating point values
sample4 = (1.23, 1.45, 2.1, 2.2, 1.9)

# Print the standard deviation of
# following sample sets of observations
print("The Standard Deviation of Sample1 is % s"
	% (np.std(sample1)))

print("The Standard Deviation of Sample2 is % s"
	% (np.std(sample2)))

print("The Standard Deviation of Sample3 is % s"
	% (np.std(sample3)))


print("The Standard Deviation of Sample4 is % s"
	% (np.std(sample4)))

The Standard Deviation of Sample1 is 3.6811710647786073
The Standard Deviation of Sample2 is 1.707825127659933
The Standard Deviation of Sample3 is 7.313301238155037
The Standard Deviation of Sample4 is 0.37537181567080935

## IRIS Dataset

In [17]:
# Load necessary pyhton modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_iris
data = load_iris()
df = pd.DataFrame(data=data.data, columns=data.feature_names)
df['target'] = data['target']
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [18]:
columns = ["Sepal_length", "Sepal_width", "Petal_length", "Petal_width", "Species"]
df.columns = columns

In [21]:
df.head()

   Sepal_length  Sepal_width  Petal_length  Petal_width  Species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [53]:
def basic_stats_on_feature(data,feature):
    print("mean" , np.mean(df[feature]))
    print("median" , np.median(df[feature]))
    print("std-deviation", np.std(df[feature]))
    print("min",np.min(df[feature]))
    print("max",np.max(df[feature]))
    print("25% -75%" ,np.percentile(df[feature],[0.25,0.75]))
    q1 = np.percentile(df[feature],[0.25,0.75])[0]
    q3 = np.percentile(df[feature],[0.25,0.75])[1]
    lower_fence = q1 - 1.5*(q3-q1)
    upper_fence = q3 + 1.5*(q3-q1)
    print("lower fence", lower_fence)
    print("higher fence", upper_fence)
    print("count", len(df[feature]))

In [55]:
for i in  ["Sepal_length", "Sepal_width", "Petal_length", "Petal_width"]:
    print(i)
    basic_stats_on_feature(df, i)
    print("=============================")

Sepal_length
mean 5.843333333333334
median 5.8
std-deviation 0.8253012917851409
min 4.3
max 7.9
25% -75% [4.33725 4.4    ]
lower fence 4.243124999999999
higher fence 4.494125
count 150
=============================
Sepal_width
mean 3.0573333333333337
median 3.0
std-deviation 0.4344109677354946
min 2.0
max 4.4
25% -75% [2.0745 2.2   ]
lower fence 1.8862499999999998
higher fence 2.38825
count 150
=============================
Petal_length
mean 3.7580000000000005
median 4.35
std-deviation 1.759404065775303
min 1.0
max 6.9
25% -75% [1.03725 1.11175]
lower fence 0.9255
higher fence 1.2235
count 150
=============================
Petal_width
mean 1.1993333333333336
median 1.3
std-deviation 0.7596926279021594
min 0.1
max 2.5
25% -75% [0.1 0.1]
lower fence 0.1
higher fence 0.1
count 150
=============================