# Objective - Answer the following

Q. 1) Instruction ( For Data Cleaning ) - Remove the column that only contains missing values.

Q. 2) Question ( Based on Filtering + Value Counts ) - For Speeding , were Men or Women stopped more often ? 

Q. 3) Question ( Groupby ) - Does gender affect who gets searched during a stop ?
Question ( mapping + data-type casting )

Q. 4) Question ( mapping + data-type casting ) - What is the mean stop_duration ?

Q. 5) Question ( Groupby , Describe ) - Compare the age distributions for each violation.

## Spl Thanks
https://datasciencelovers.graphy.com/

## Import Python Modules

In [126]:
# Load necessary python modules
import numpy as np
import pandas as pd

## Load Dataset

In [127]:
df = pd.read_csv("dataset/Police_dataset.csv")

## Basic Inspection on dataset

In [69]:
def basic_inspection(table):
    print("Top 5 Records of dataset")
    print(table.head())
    print()
        
    print("Bottom Records of dataset")
    print(table.tail())
    print()
    
    print("Column/features/Variable  - Names of Given dataset")
    print(table.columns)
    print()
    
    print("Shape(rows x columns) - of Given dataset")
    print(table.shape)
    print()
    
    print("Data types - Given Column Names")
    print(table.dtypes)
    print()
    
    print("Summry of dataset")
    print(table.info())
    print()
    
    print("To see the count of null/nan values in columns of dataset")
    print(table.isnull().value_counts())
    print()
    
    print("Dataset Summary ")
    print(table.describe())
    print()

In [70]:
basic_inspection(df)

Top 5 Records of dataset
   stop_date stop_time  country_name driver_gender  driver_age_raw  \
0   1/2/2005      1:55           NaN             M          1985.0
1  1/18/2005      8:15           NaN             M          1965.0
2  1/23/2005     23:15           NaN             M          1972.0
3  2/20/2005     17:15           NaN             M          1986.0
4  3/14/2005     10:00           NaN             F          1984.0

   driver_age driver_race     violation_raw violation  search_conducted  \
0        20.0       White          Speeding  Speeding             False
1        40.0       White          Speeding  Speeding             False
2        33.0       White          Speeding  Speeding             False
3        19.0       White  Call for Service     Other             False
4        21.0       White          Speeding  Speeding             False

  search_type   stop_outcome is_arrested stop_duration  drugs_related_stop
0         NaN       Citation       False      0-15 Min               False
1         NaN       Citation       False      0-15 Min               False
2         NaN       Citation       False      0-15 Min               False
3         NaN  Arrest Driver        True     16-30 Min               False
4         NaN       Citation       False      0-15 Min               False

Bottom Records of dataset
       stop_date stop_time  country_name driver_gender  driver_age_raw  \
65530  12/6/2012     17:54           NaN             F          1987.0
65531  12/6/2012     22:22           NaN             M          1954.0
65532  12/6/2012     23:20           NaN             M          1985.0
65533  12/7/2012      0:23           NaN           NaN             NaN
65534  12/7/2012      0:30           NaN             F          1985.0

       driver_age driver_race                   violation_raw  violation  \
65530        25.0       White                        Speeding   Speeding
65531        58.0       White                        Speeding   Speeding
65532        27.0       Black  Equipment/Inspection Violation  Equipment
65533         NaN         NaN                             NaN        NaN
65534        27.0       White                        Speeding   Speeding

       search_conducted search_type stop_outcome is_arrested stop_duration  \
65530             False         NaN     Citation       False      0-15 Min
65531             False         NaN      Warning       False      0-15 Min
65532             False         NaN     Citation       False      0-15 Min
65533             False         NaN          NaN         NaN           NaN
65534             False         NaN     Citation       False      0-15 Min

       drugs_related_stop
65530               False
65531               False
65532               False
65533               False
65534               False

Column/features/Variable  - Names of Given dataset
Index(['stop_date', 'stop_time', 'country_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

Shape(rows x columns) - of Given dataset
(65535, 15)

Data types - Given Column Names
stop_date              object
stop_time              object
country_name          float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

Summry of dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB
None

To see the count of null/nan values in columns of dataset
stop_date  stop_time  country_name  driver_gender  driver_age_raw  driver_age  driver_race  violation_raw  violation  search_conducted  search_type  stop_outcome  is_arrested  stop_duration  drugs_related_stop
False      False      True          False          False           False       False        False          False      False             True         False         False        False          False                 58745
                                    True           True            True        True         True           True       False             True         True          True         True           False                  4053
                                    False          False           False       False        False          False      False             False        False         False        False          False                  2477
                                                                   True        False        False          False      False             True         False         False        False          False                   249
                                    True           False           False       True         True           True       False             True         True          True         True           False                     5
                                    False          False           True        False        False          False      False             False        False         False        False          False                     2
                                    True           False           True        True         True           True       False             True         True          True         True           False                     2
                                    False          True            True        False        False          False      False             True         False         False        False          False                     1
                                    True           False           False       False        False          False      False             True         False         False        False          False                     1
Name: count, dtype: int64

Dataset Summary
       country_name  driver_age_raw    driver_age
count           0.0    61481.000000  61228.000000
mean            NaN     1967.791106     34.148984
std             NaN      121.050106     12.760710
min             NaN        0.000000     15.000000
25%             NaN     1965.000000     23.000000
50%             NaN     1978.000000     31.000000
75%             NaN     1985.000000     43.000000
max             NaN     8801.000000     88.000000

# Q 1
Q. 1) Instruction ( For Data Cleaning ) - Remove the column that only contains missing values.

In [71]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [72]:
df.drop(columns=["country_name","search_type"],axis=1,inplace=True )

In [73]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender         4061
driver_age_raw        4054
driver_age            4307
driver_race           4060
violation_raw         4060
violation             4060
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [74]:
df.shape

(65535, 13)

In [75]:
df["driver_gender"].unique()

array(['M', 'F', nan], dtype=object)

In [76]:
df["driver_gender"].value_counts()

driver_gender
M    45164
F    16310
Name: count, dtype: int64

In [77]:
df["driver_gender"].fillna('M',inplace=True)

In [78]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender            0
driver_age_raw        4054
driver_age            4307
driver_race           4060
violation_raw         4060
violation             4060
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [79]:
df["driver_age_raw"].unique()

array([1985., 1965., 1972., 1986., 1984., 1982., 1969., 1970., 1979.,
       1966., 1955., 1958., 1953., 1967.,   nan, 1964., 1977., 1959.,
       1973., 1947., 1978., 1962., 1981., 1988., 1983., 1961., 1957.,
       1971., 1950., 1954., 1960., 1976., 1974., 1968., 1938., 1980.,
       1963., 1975., 1987., 1948., 1956., 1944., 1935.,    0., 1952.,
       1945., 1946., 1941., 1942., 1951., 1949., 2005., 1939., 1943.,
       1936., 1924., 1937., 1929., 1930., 1931., 1923., 1940., 1933.,
       1989., 1928., 1932., 1990., 1926., 2006., 1927., 1997., 1934.,
       1887., 1925., 1918., 2004., 1991., 2002., 2007., 1992., 8801.,
       2001., 2003., 1998., 1922., 1993., 2008., 2009., 2919., 2000.,
       1994., 1995., 2011., 1996.])

In [80]:
df["driver_age_raw"].value_counts()

driver_age_raw
1986.0    2702
1987.0    2645
1985.0    2630
1988.0    2588
1983.0    2339
          ...
2000.0       1
8801.0       1
2002.0       1
2011.0       1
1918.0       1
Name: count, Length: 93, dtype: int64

In [81]:
df["driver_age"].unique()

array([20., 40., 33., 19., 21., 23., 36., 35., 26., 39., 50., 47., 52.,
       38., nan, 41., 28., 46., 32., 58., 27., 43., 24., 17., 22., 44.,
       48., 34., 55., 51., 45., 29., 31., 37., 67., 25., 42., 30., 18.,
       57., 49., 61., 70., 53., 60., 59., 64., 63., 54., 56., 66., 62.,
       69., 81., 68., 76., 75., 74., 82., 65., 72., 16., 77., 73., 71.,
       80., 79., 78., 88., 15., 83., 86., 84., 85.])

In [82]:
df["driver_age"].value_counts()

driver_age
22.0    2912
21.0    2886
20.0    2783
23.0    2725
24.0    2583
        ...
15.0       5
84.0       3
88.0       2
83.0       2
85.0       1
Name: count, Length: 73, dtype: int64

In [83]:
print(df["driver_age"].mean())
print(df["driver_age"].median())

34.14898412491017
31.0

In [84]:
df["driver_age"].fillna(31,inplace=True)

In [85]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender            0
driver_age_raw        4054
driver_age               0
driver_race           4060
violation_raw         4060
violation             4060
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [86]:
df["driver_race"].unique()

array(['White', 'Black', 'Asian', nan, 'Hispanic', 'Other'], dtype=object)

In [87]:
df["driver_race"].value_counts()

driver_race
White       45747
Black        8267
Hispanic     5611
Asian        1639
Other         211
Name: count, dtype: int64

In [88]:
df["driver_race"].fillna("White",inplace=True)

In [89]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender            0
driver_age_raw        4054
driver_age               0
driver_race              0
violation_raw         4060
violation             4060
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [90]:
df["violation_raw"].unique()

array(['Speeding', 'Call for Service', 'Equipment/Inspection Violation',
       'Other Traffic Violation', nan, 'Registration Violation',
       'Special Detail/Directed Patrol', 'APB',
       'Violation of City/Town Ordinance', 'Suspicious Person',
       'Motorist Assist/Courtesy', 'Warrant', 'Seatbelt Violation'],
      dtype=object)

In [91]:
df["violation_raw"].value_counts()

violation_raw
Speeding                            37204
Other Traffic Violation             11926
Equipment/Inspection Violation       6516
Special Detail/Directed Patrol       2383
Registration Violation               2243
Call for Service                      793
Violation of City/Town Ordinance      170
Motorist Assist/Courtesy              138
APB                                    51
Suspicious Person                      38
Warrant                                10
Seatbelt Violation                      3
Name: count, dtype: int64

In [92]:
df["violation_raw"].fillna("Speeding",inplace=True)

In [93]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender            0
driver_age_raw        4054
driver_age               0
driver_race              0
violation_raw            0
violation             4060
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [94]:
df["violation"].unique()

array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
       'Registration/plates', 'Seat belt'], dtype=object)

In [95]:
df["violation"].value_counts()

violation
Speeding               37204
Moving violation       11926
Equipment               6516
Other                   3583
Registration/plates     2243
Seat belt                  3
Name: count, dtype: int64

In [96]:
df["violation"].fillna("Speeding",inplace=True)

In [97]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender            0
driver_age_raw        4054
driver_age               0
driver_race              0
violation_raw            0
violation                0
search_conducted         0
stop_outcome          4060
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [98]:
df["stop_outcome"].unique()

array(['Citation', 'Arrest Driver', nan, 'N/D', 'Warning',
       'Arrest Passenger', 'No Action'], dtype=object)

In [99]:
df["stop_outcome"].value_counts()

stop_outcome
Citation            56564
Arrest Driver        2009
Warning              1889
N/D                   423
No Action             339
Arrest Passenger      251
Name: count, dtype: int64

In [100]:
df["stop_outcome"].fillna("Citation",inplace=True)

In [101]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender            0
driver_age_raw        4054
driver_age               0
driver_race              0
violation_raw            0
violation                0
search_conducted         0
stop_outcome             0
is_arrested           4060
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [102]:
df["is_arrested"].unique()

array([False, True, nan], dtype=object)

In [103]:
df["is_arrested"].value_counts()

is_arrested
False    59215
True      2260
Name: count, dtype: int64

In [104]:
df["is_arrested"].fillna("False",inplace=True)

In [105]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender            0
driver_age_raw        4054
driver_age               0
driver_race              0
violation_raw            0
violation                0
search_conducted         0
stop_outcome             0
is_arrested              0
stop_duration         4060
drugs_related_stop       0
dtype: int64

In [106]:
df["stop_duration"].unique()

array(['0-15 Min', '16-30 Min', '30+ Min', nan, '2'], dtype=object)

In [107]:
df["stop_duration"].value_counts()

stop_duration
0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: count, dtype: int64

In [108]:
df["stop_duration"].fillna("0-15 Min",inplace=True)

In [109]:
df.isnull().sum()

stop_date                0
stop_time                0
driver_gender            0
driver_age_raw        4054
driver_age               0
driver_race              0
violation_raw            0
violation                0
search_conducted         0
stop_outcome             0
is_arrested              0
stop_duration            0
drugs_related_stop       0
dtype: int64

In [110]:
df["driver_age_raw"].unique()

array([1985., 1965., 1972., 1986., 1984., 1982., 1969., 1970., 1979.,
       1966., 1955., 1958., 1953., 1967.,   nan, 1964., 1977., 1959.,
       1973., 1947., 1978., 1962., 1981., 1988., 1983., 1961., 1957.,
       1971., 1950., 1954., 1960., 1976., 1974., 1968., 1938., 1980.,
       1963., 1975., 1987., 1948., 1956., 1944., 1935.,    0., 1952.,
       1945., 1946., 1941., 1942., 1951., 1949., 2005., 1939., 1943.,
       1936., 1924., 1937., 1929., 1930., 1931., 1923., 1940., 1933.,
       1989., 1928., 1932., 1990., 1926., 2006., 1927., 1997., 1934.,
       1887., 1925., 1918., 2004., 1991., 2002., 2007., 1992., 8801.,
       2001., 2003., 1998., 1922., 1993., 2008., 2009., 2919., 2000.,
       1994., 1995., 2011., 1996.])

In [111]:
df["driver_age_raw"].value_counts()

driver_age_raw
1986.0    2702
1987.0    2645
1985.0    2630
1988.0    2588
1983.0    2339
          ...
2000.0       1
8801.0       1
2002.0       1
2011.0       1
1918.0       1
Name: count, Length: 93, dtype: int64

In [112]:
df["driver_age_raw"].mean()

1967.79110619541

In [113]:
df["driver_age_raw"].median()

1978.0

In [114]:
df["driver_age_raw"].fillna(1986,inplace=True)

In [115]:
df.isnull().sum()

stop_date             0
stop_time             0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

# Q 2
Q. 2) Question ( Based on Filtering + Value Counts ) - For Speeding , were Men or Women stopped more often ?

In [116]:
df[df["violation"]=="Speeding"].driver_gender.value_counts()

driver_gender
M    29578
F    11686
Name: count, dtype: int64

# Q 3
Q. 3) Question ( Groupby ) - Does gender affect who gets searched during a stop ?
Question ( mapping + data-type casting )

In [117]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,M,1986.0,31.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [118]:
df.groupby("driver_gender").search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [119]:
df.search_conducted.value_counts()

search_conducted
False    63056
True      2479
Name: count, dtype: int64

# Q 4
Q. 4) Question ( mapping + data-type casting ) - What is the mean stop_duration ?

In [120]:
df["stop_duration"].value_counts()

stop_duration
0-15 Min     51439
16-30 Min    11448
30+ Min       2647
2                1
Name: count, dtype: int64

In [121]:
df["stop_duration"] = df["stop_duration"].map({"0-15 Min":7.5, "16-30 Min": 24.5, "30+ Min":45})

In [122]:
df["stop_duration"].mean()

11.98436689352092

In [123]:
df.dtypes

stop_date              object
stop_time              object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
stop_outcome           object
is_arrested            object
stop_duration         float64
drugs_related_stop       bool
dtype: object

# Q 5
Q. 5) Question ( Groupby , Describe ) - Compare the age distributions for each violation.

In [124]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,24.5,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,7.5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.0,25.0,White,Speeding,Speeding,False,Citation,False,7.5,False
65531,12/6/2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,Warning,False,7.5,False
65532,12/6/2012,23:20,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,Citation,False,7.5,False
65533,12/7/2012,0:23,M,1986.0,31.0,White,Speeding,Speeding,False,Citation,False,7.5,False
65534,12/7/2012,0:30,F,1985.0,27.0,White,Speeding,Speeding,False,Citation,False,7.5,False

In [125]:
df.groupby("violation")["driver_age"].describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6516.0,31.682014,11.372835,16.0,23.0,28.0,39.0,81.0
Moving violation,11926.0,36.712393,13.235717,15.0,25.0,35.0,46.0,86.0
Other,3583.0,40.085403,12.664064,16.0,30.0,40.0,49.5,86.0
Registration/plates,2243.0,32.654481,11.143481,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,41264.0,33.035043,11.985260,15.0,23.0,31.0,40.0,88.0