# Credits to "codebasics" &  "Dhaval Patel "-  Content Taken from
# Data Science Roadmap 2024  - https://youtu.be/PFPt6PQNslE
# Cover - Python - Exercises
# https://youtube.com/playlist?list=PLeo1K3hjS3uv5U-Lmlnucd7gqF-3ehIh0&si=CRDl5bsjEdNMyZ_H
# https://github.com/codebasics/py/tree/master/Basics/Exercise



# 1. Exercise: Python Variables

## https://github.com/codebasics/py/blob/master/Basics/Exercise/2_variables/2_variables_exercise.md

## 1.1 Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

In [11]:
#break=5
#break is keyword , we can use for varialbe name(Identifier), so we are getting Syntax Error

## 1.2 Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [49]:
birth_year=1985
current_year=2024
print(f"age is {current_year - birth_year}")

age is 39

## 1.3 Store your first, middle and last name in three different variables and then print your full name using these variables

In [48]:
first_name="Aravind"
middle_name="Reddy"
last_name="Komati"
print(f"full name : {first_name} {middle_name} {last_name}")

full name : Aravind Reddy Komati

## 1.4 Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [14]:
# Invalid 
_nation = 123
#1record = 123
#record-one=12
#record^one=123


# 2. Python Numbers Exercise
## https://github.com/codebasics/py/blob/master/Basics/Exercise/3_numbers/3_numbers_exercise.py

## 2.1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it

In [20]:
def area_footbal_ground(l,b):
    """finding the area of rectangle - for given length and breadth"""
    return(l*b)

if __name__ == "__main__":
    l = 92
    b = 48.8
    print(f"area of football field  {area_footbal_ground(l,b)} sq m")

area of football field  4489.599999999999 sq m

## 2.2 You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar     and you gave shopkeeper 20 dollar.    Find out using python, how many dollars is the shopkeeper going to give you back?

In [23]:
chip_packets=9
packet_cost=1.49
paid=20
return_amount = paid-(chip_packets*packet_cost)
print(f"Cash back: {return_amount}")

Cash back: 6.59

## 2.3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet  is its length. If tiles cost 500 rs per square feet, how much will be the totalcost to replace all tiles. Calculate and print the cost using python
## #   Hint: Use power operator (**) to find area of a square

In [27]:
def cost_tiles(side,unit_cost):
    area=side**2
    total_cost=area*unit_cost
    return total_cost
print(f"Total Cost in Rs : {cost_tiles(5.5,500)}")

Total Cost in Rs : 15125.0

## 2.4. Print binary representation of number 17

In [36]:
print("Binary value of 17 is ", bin(17))
print("Binary value of 17 is ",format(17,'b'))

Binary value of 17 is  0b10001
Binary value of 17 is  10001


# 3. Exercise: String in Python
## https://github.com/codebasics/py/blob/master/Basics/Exercise/4_strings/4_strings_exercise.md

## 3.1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [47]:
street="Mothi Nagar"
city="Hyderabad"
country="India"

address = street + '\n' + city + '\n' + country
print("Address using + operator:",address)

address = f'{street}\n{city}\n{country}'
print("Address using f-string:",address)

Address using + operator: Mothi Nagar
Hyderabad
India
Address using f-string: Mothi Nagar
Hyderabad
India

## 3.2. Create a variable to store the string "Earth revolves around the sun" ,  Print "revolves" using slice operator , Print "sun" using negative index

In [48]:
s = "Earth revolves around the sun"
print(s[6:14])
print(s[-3:])

revolves
sun

## 3.3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [50]:
x = 10
y = 5
s=f"I eat {x} veggies and {y} fruits daily"
print(s)
print(f"I eat {x} veggies and {y} fruits daily")

I eat 10 veggies and 5 fruits daily
I eat 10 veggies and 5 fruits daily

## 3.4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [53]:
s='maine 200 banana khaye'
print(s.replace('200','10'))

maine 10 banana khaye


# 4.  Exercise: Python Lists
## https://github.com/codebasics/py/blob/master/Basics/Exercise/5_lists/5_lists_exercise.md

## 4. 1. 
Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,


Explain
1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [69]:
expense_list = [ 2200 , 2350 , 2600, 2130, 2190]
#1. In Feb, how many dollars you spent extra compare to January?
print("In Feb, how many dollars you spent extra compare to January?", expense_list[1]-expense_list[0])
#2. Find out your total expense in first quarter (first three months) of the year.
print("Find out your total expense in first quarter (first three months) of the year.",sum(expense_list[0:3]))
#3. Find out if you spent exactly 2000 dollars in any month
print("fining 2000 in expense list: ",2000 in expense_list)
#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expense_list.append(1980)
print("adding jube expense", expense_list)
#You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list
# based on this
expense_list[3]=expense_list[3]-200
print("after refund: ",expense_list)

In Feb, how many dollars you spent extra compare to January? 150
Find out your total expense in first quarter (first three months) of the year. 7150
fining 2000 in expense list:  False
adding jube expense [2200, 2350, 2600, 2130, 2190, 1980]
after refund:  [2200, 2350, 2600, 1930, 2190, 1980]

## 4.2. You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [84]:
heros=['spider man','thor','hulk','iron man','captain america']
print(f"Length of the list: { len(heros)}")
heros.append('black panther')
print("Updated list:", heros)
heros.remove('black panther')
print("Updated list:", heros)
heros.insert(3,'black panther')
print("Updated list:", heros)
heros[1:3]=['doctor', 'strange']
print("Updated list:", heros)
print(dir(heros))
heros.sort()
print(heros)

Length of the list: 5
Updated list: ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
Updated list: ['spider man', 'thor', 'hulk', 'iron man', 'captain america']
Updated list: ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
Updated list: ['spider man', 'doctor', 'strange', 'black panther', 'iron man', 'captain america']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['black panther', 'captain america', 'doctor', 'iron man', 'spider man', 'strange']


# 5. Exercise: Python If Condition
## https://github.com/codebasics/py/blob/master/Basics/Exercise/8_if/8_exercise_description.md

## 5.1. 
Using following list of cities per country
    
    india = ["mumbai", "banglore", "chennai", "delhi"]
    pakistan = ["lahore","karachi","islamabad"]
    bangladesh = ["dhaka", "khulna", "rangpur"]
    
    1. Write a program that asks user to enter a city name and it should tell which country the city belongs to
    2. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [91]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

# Write a program that asks user to enter a city name and it should tell which country the city belongs to
city_name = input("enter a city name: ")
if city_name in india:
    print(f"{city_name} is in inida")
elif city_name in pakistan:
    print(f"{city_name} is in pakistan")
elif city_name in bangladesh:
    print(f"{city_name} is in bangladesh")
else:
    print(f"{city_name} did not find in the given lists")
    

# Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For example if I enter mumbai and chennai, it will print "Both cities are in India" but if I enter mumbai and dhaka it should print "They don't belong to same country"
city_1_name = input("enter a city name: ")
city_2_name = input("enter a city name: ")

if city_1_name in india and city_2_name in india:
    print(f"Both cities are in India")
elif city_1_name in pakistan and city_2_name in pakistan:
    print(f"Both cities are in pakistan")
elif city_1_name in bangladesh and city_2_name in bangladesh:
    print(f"Both cities are in bangladesh")
else:
    print(f"{city_1_name} and {city_2_name } They don't belong to same country")

enter a city name: delhi
delhi is in inida
enter a city name: delhi
enter a city name: mumbai
Both cities are in India

## 5.2 Write a python program that can tell you if your sugar is normal or not. Normal fasting level sugar range is 80 to 100.
    1. Ask user to enter his fasting sugar level
    2. If it is below 80 to 100 range then print that sugar is low
    3. If it is above 100 then print that it is high otherwise print that it is normal

In [100]:
def fasting_sugar_test(glouse):
    if glouse <= 80 :
        print(f"Sugar level {glouse} is low")
    elif  glouse <= 100:
        print(f"Sugar level {glouse} is normal")
    else:
        print(f"Sugar level {glouse} is high")

glouse = eval(input("Enter fasting sugar level:"))
fasting_sugar_test(glouse)

Enter fasting sugar level:90
Sugar level 90 is normal


# 6. Exercise: Python for loop
## https://github.com/codebasics/py/blob/master/Basics/Exercise/9_for/9_for_exercise.md

## 6.1.
After flipping a coin 10 times you got this result,

result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

Using for loop figure out how many times you got heads

In [102]:
results = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count =0
for r in results:
    if 'heads'==r:
        count=count+1
print(f"heads count {count}")

heads count 4

## 6.2. Print square of all numbers between 1 to 10 except even number

In [103]:
for i in range(1,11):
    if i%2==0:
        continue
    else:
        print(i**2)

1
9
25
49
81


## 6.3. Your monthly expense list (from Jan to May) looks like this,

expense_list = [2340, 2500, 2100, 3100, 2980]

Write a program that asks you to enter an expense amount and program

should tell you in which month that expense occurred. If expense is not
found then it should print that as well.

In [6]:
expense_list = [2340, 2500, 2100, 3100, 2980]
months_year = ["Jan","Feb", "March","April","May"]

expense = eval(input("Enter an expense amount: "))
if expense in expense_list:
    index = expense_list.index(expense)
    print(f"{expense} expense occured in {months_year[index]}")
else:
    print(f"{expense} is not found in the list")

Enter an expense amount: 2340
 2340 expense occured in Jan

# 6.5. Write a program that prints following shape

In [14]:
"""
*
**
***
****
***** """

for i in range(6):    
    for j in range(i):        
        print("*",end="")
    print()

*
**
***
****
*****


# 7. Exercise: Functions in python
## https://github.com/codebasics/py/blob/master/Basics/Exercise/10_functions/10_functions_exercise.md

## 7.1 Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,

area = (1/2)*base*height

In [16]:
def area(base,height):
    """area of triganlge - given inputs are base and height"""
    return((1/2)*base*height)

base=eval(input("Enter base of triangle:"))
height=eval(input("Enter height of triangle:"))
print(f"area of triangle {area(base,height)}")

Enter base of triangle:5
Enter height of triangle:5
area of triangle 12.5

## 7.2. Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,

rectangle area=length*width

If no shape is supplied then it should take triangle as a default shape

In [17]:
def area(base, height , shape="triangle"):
    if shape == "triangle":
        return ((1/2)* base*height)
    elif shape=="rectangle":
        return (base*height)
    else:
        print("Invalid Shape")
        return None
    
shape=input("Enter the shape(triangle/rectangle) to find area:" )
if shape=="tringle":
    base=eval(input("Enter base of triangle:"))
    height=eval(input("Enter height of triangle:"))
    print(f"area of triangle {area(base,height,shape)}")
elif shape=="rectangle":
    base=eval(input("Enter width of rectangle:"))
    height=eval(input("Enter height of rectangle:"))
    print(f"area of triangle {area(base,height,shape)}")
else:
    print("Invalid Input")

Enter the shape(triangle/rectangle) to find area:rectangle
Enter width of rectangle:5
Enter height of rectangle:4
area of triangle 20

# 7.3  Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,

In [19]:
"""
*
**
***
****
***** """
x = int(input("Enter the no of rows of start pattern:"))
for i in range(x+1):    
    for j in range(i):        
        print("*",end="")
    print()

Enter the no of rows of start pattern:5

*
**
***
****
*****

# 8. Exercise: Python Dict and Tuples
## https://github.com/codebasics/py/blob/master/Basics/Exercise/11_dict_tuples/11_dict_tuple_exercise.md

## 8.1 . We have following information on countries and their population (population is in crores),

    |Country|Population|
    |-------|----------|
    |China|143|
    |India|136|
    |USA|32|
    |Pakistan|21|
    1. Using above create a dictionary of countries and its population
    2. Write a program that asks user for three type of inputs,
        1. print: if user enter print then it should print all countries with their population in this format,
            ```
            china==>143
            india==>136
            usa==>32
            pakistan==>21
            ```
        1. add: if user input add then it should further ask for a country name to add. If country already exist in our dataset then it should print that it exist and do nothing. If it doesn't then it asks for population and add that new country/population in our dictionary and print it
        2. remove: when user inputs remove it should ask for a country to remove. If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). Else print that country doesn't exist!
        3. query: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.

In [21]:
d = { "China":143, "India":136, "USA":32, "Pakistan":21}
def operations_dict(cmd,d):
    if cmd=="print":
        for k,v in d.items():
            print(f"{k}===>{v}")
    elif cmd=="add":
        country=input("Enter country name:")
        if country in d:
            print(f"country name {country} exist")
        else:
            population=int(input("Enter population:"))
            d[country]=population
    elif cmd=="remove":
        country=input("Enter country name:")
        if country in d:
            print(f"country name {country} exist")
            del d[country]
        else:
            print(f"country name {country} do not exist")
    elif cmd=="query":
        country=input("Enter country name:")
        if country in d:
            print(f"country name {country} and population {d[country]}")
        else:
             print(f"country name {country} do not exist")
    else:
        print("Invalid Command")

cmd = input("Enter the command(print,add,remove,query) on given dictionary:")
operations_dict(cmd,d)

Enter the command(print,add,remove,query) on given dictionary:print
China===>143
India===>136
USA===>32
Pakistan===>21

# 8.2 You are given following list of stocks and their prices in last 3 days,

    |Stock|Prices|
    |-------|----------|
    |info|[600,630,620]|
    |ril|[1430,1490,1567]|
    |mtl|[234,180,160]|

    1. Write a program that asks user for operation. Value of operations could be,
        1. print: When user enters print it should print following,
            ```
            info ==> [600, 630, 620] ==> avg:  616.67
            ril ==> [1430, 1490, 1567] ==> avg:  1495.67
            mtl ==> [234, 180, 160] ==> avg:  191.33
            ```
        2. add: When user enters 'add', it asks for stock ticker and price. If stock already exist in your list (like info, ril etc) then it will append the price to the list. Otherwise it will create new entry in your dictionary. For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.

In [27]:
stock = { "info": [600,630,620], "ril": [1430,1490,1567], "mtl":[234,180,160]}
def stock_operations(cmd,d):
    if cmd=="print":
        for k,v in d.items():
            print(f"{k}===> {v} ==> avg: {round(sum(v)/len(v),2)}")
    elif cmd=="add":
        stock_name=input("Enter stock name:")
        if stock_name in d:
            print("Stock is already present in dictionary")
        else:
            stock_price = eval(input("Enter stock price:"))
            d[stock_name] = [stock_price]
    else:
        print("Invalid Input")


cmd = input("Enter the command(print,add) on given dictionary:")
stock_operations(cmd,stock)

Enter the command(print,add) on given dictionary:add
Enter stock name:tata
Enter stock price:560

## 8.3. Write circle_calc() function that takes radius of a circle as an input from user and then it calculates and returns area, circumference and diameter. You should get these values in your main program by calling circle_calc function and then print them

In [30]:
def circle_calc(radius):
    return 3.14*radius*radius, 2*radius, 2*3.14*radius

radius = eval(input("Enter radius of circle:"))
print(f"area , diameter , circumference of cirle {circle_calc(radius)}")

Enter radius of circle:5
area , diameter , circumference of cirle (78.5, 10, 31.400000000000002)

# 9.  Exercise: Python Read Write File
## https://github.com/codebasics/py/blob/master/Basics/Exercise/13_read_write_files/read_write_file_exercise.md

# 9.1 . [poem.txt](https://github.com/codebasics/py/blob/master/Basics/Exercise/13_read_write_files/poem.txt) contains famous poem "Road not taken" by poet Robert Frost. You have to read this file in your python program and find out words with maximum occurance.

In [41]:
words_list = {}
with open("poem.txt","r") as file:
    for line in file.readlines():
        for word in line.split():
            if word in words_list:
                words_list[word]+=1
            else:
                words_list[word]=1
            
print(words_list)

{'Two': 2, 'roads': 2, 'diverged': 2, 'in': 3, 'a': 3, 'yellow': 1, 'wood,': 2, 'And': 6, 'sorry': 1, 'I': 8, 'could': 2, 'not': 1, 'travel': 1, 'both': 2, 'be': 2, 'one': 3, 'traveler,': 1, 'long': 1, 'stood': 1, 'looked': 1, 'down': 1, 'as': 5, 'far': 1, 'To': 1, 'where': 1, 'it': 2, 'bent': 1, 'the': 8, 'undergrowth;': 1, 'Then': 1, 'took': 2, 'other,': 1, 'just': 1, 'fair,': 1, 'having': 1, 'perhaps': 1, 'better': 1, 'claim,': 1, 'Because': 1, 'was': 1, 'grassy': 1, 'and': 3, 'wanted': 1, 'wear;': 1, 'Though': 1, 'for': 2, 'that': 3, 'passing': 1, 'there': 1, 'Had': 1, 'worn': 1, 'them': 1, 'really': 1, 'about': 1, 'same,': 1, 'morning': 1, 'equally': 1, 'lay': 1, 'In': 1, 'leaves': 1, 'no': 1, 'step': 1, 'had': 1, 'trodden': 1, 'black.': 1, 'Oh,': 1, 'kept': 1, 'first': 1, 'another': 1, 'day!': 1, 'Yet': 1, 'knowing': 1, 'how': 1, 'way': 1, 'leads': 1, 'on': 1, 'to': 1, 'way,': 1, 'doubted': 1, 'if': 1, 'should': 1, 'ever': 1, 'come': 1, 'back.': 1, 'shall': 1, 'telling': 1, 'this': 1, 'with': 1, 'sigh': 1, 'Somewhere': 1, 'ages': 2, 'hence:': 1, 'Iâ€”': 1, 'less': 1, 'traveled': 1, 'by,': 1, 'has': 1, 'made': 1, 'all': 1, 'difference.': 1}

## 9.2  [stocks.csv](https://github.com/codebasics/py/blob/master/Basics/Exercise/13_read_write_files/stocks.csv) contains stock price, earnings per share and book value. You are writing a stock market application that will process this file and create a new file
with financial metrics such as pe ratio and price to book ratio. These are calculated as,

pe ratio = price / earnings per share
price to book ratio = price / book value



Your input format (stocks.csv) is,

|Company Name|Price|Earnings Per Share|Book Value|
|-------|----------|-------|----------|
|Reliance|1467|66|653|
|Tata Steel|391|89|572|

Output.csv should look like this,

|Company Name|PE Ratio|PB Ratio|
|-------|----------|-------|
|Reliance|22.23|2.25|
|Tata Steel|4.39|0.68|

In [42]:
with open("stocks.csv.txt", "r") as f, open("output.csv", "w") as out:
    out.write("Company Name,PE Ratio, PB Ratio\n")
    next(f)  # This will skip first line in the file which is a header
    for line in f:
        tokens = line.split(",")
        stock = tokens[0]
        price = float(tokens[1])
        eps = float(tokens[2])
        book = float(tokens[3])
        pe = round(price / eps, 2)
        pb = round(price / book, 2)
        out.write(f"{stock},{pe},{pb}\n")

# 10. Exercise: Class and Objects
## https://github.com/codebasics/py/blob/master/Basics/Exercise/16_class_and_objects/16_class_and_object_exercise.md

## 10.1
1. Create a sample class named Employee with two attributes id and name 

```
employee :
    id
    name
```
object initializes id and name dynamically for every Employee object created.
 
```
emp = Employee(1, "coder")
```

2. Use del property to first delete id attribute and then the entire object

In [46]:
class employee:
    def __init__(self,id,name):
        self.id=id
        self.name=name
        
    def fill_employee_details(id,name):
        self.id=id
        self.name=name
        
    def get_employee_details(self):
        print(f"employee id : {self.id} and name : {self.name}")
        
emp=employee(1,"coder")
emp.get_employee_details()

employee id : 1 and name : coder