## Pandas - Exercise
Consider the following Python dictionary data and Python list labels

In [3]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [4]:
df = pd.DataFrame(data,index=labels)
print(df)

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

### Display a summary of the basic information about birds DataFrame and its data

In [4]:
def basic_inspection(table):
    print("Top 5 Sample of dataset")
    print(table.head())
    print("Bottom 5 Sample of dataset")
    print(table.tail())
    print("Column - Names of Given dataset")
    print(table.columns)
    print()
    print("Shape(rows x columns) - of Given dataset")
    print(table.shape)
    print()
    print("Data types - Column Names")
    print(table.dtypes)
    print()
    print("Summry of dataset")
    print(table.info())
    print()
    print("To see the count of null/nan values in columns of dataset")
    print(table.isnull().value_counts())
    print()
    print("Dataset Summary ")
    print(table.describe())
    print()
    print(table["birds"].unique())
basic_inspection(df)

Top 5 Sample of dataset
        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
Bottom 5 Sample of dataset
        birds  age  visits priority
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no
Column - Names of Given dataset
Index(['birds', 'age', 'visits', 'priority'], dtype='object')

Shape(rows x columns) - of Given dataset
(10, 4)

Data types - Column Names
birds        object
age         float64
visits        int64
priority     object
dtype: object

Summry of dataset
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   birds     10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

To see the count of null/nan values in columns of dataset
birds  age    visits  priority
False  False  False   False       8
       True   False   False       2
Name: count, dtype: int64

Dataset Summary
            age     visits
count  8.000000  10.000000
mean   4.437500   2.900000
std    2.007797   0.875595
min    1.500000   2.000000
25%    3.375000   2.000000
50%    4.000000   3.000000
75%    5.625000   3.750000
max    8.000000   4.000000

['Cranes' 'plovers' 'spoonbills']

### Print the first 2 rows of the birds dataframe

In [6]:
print(df.iloc[0:2])

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

In [8]:
print(df.loc['a':'b'])

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

### Print all the rows with only 'birds' and 'age' columns from the dataframe

In [11]:
print(df[['birds','age']])

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0
j  spoonbills  4.0

### select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']

In [15]:
print(df[['birds','age','visits']].iloc[[2,3,7],])

        birds  age  visits
c     plovers  1.5       3
d  spoonbills  NaN       4
h      Cranes  NaN       2

### select the rows where the number of visits is less than 4

In [5]:
print(df)
print(df[df['visits'] < 4])

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no
        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

### select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN

In [19]:
print(df[df['age'].isna()].loc[:, ['birds','visits']])

        birds  visits
d  spoonbills       4
h      Cranes       2

###  Select the rows where the birds is a Cranes and the age is less than 4

In [25]:
print(df[(df['birds']=='Cranes') & (df['age']<4)])

    birds  age  visits priority
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no

### Select the rows the age is between 2 and 4(inclusive)

In [27]:
print(df[(df['age']>=2) & (df['age']<=4)])

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

### Find the total number of visits of the bird Cranes

In [34]:
print(df[df['birds']=='Cranes'].visits.sum())

12

### Calculate the mean age for each different birds in dataframe.

In [35]:
print(df.groupby("birds").age.mean())

birds
Cranes        3.5
plovers       3.5
spoonbills    6.0
Name: age, dtype: float64

###  Find the number of each type of birds in dataframe (Counts)

In [36]:
print(df.groupby(by=["birds"]).birds.count())
print(df.birds.value_counts())

birds
Cranes        4
plovers       2
spoonbills    4
Name: birds, dtype: int64
birds
Cranes        4
spoonbills    4
plovers       2
Name: count, dtype: int64

### Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.

In [37]:
df.sort_values(by=["age","visits"],ascending=[0,1],inplace=True)
df

        birds  age  visits priority
i  spoonbills  8.0       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
j  spoonbills  4.0       2       no
b      Cranes  4.0       4      yes
a      Cranes  3.5       2      yes
f      Cranes  3.0       4       no
c     plovers  1.5       3       no
h      Cranes  NaN       2      yes
d  spoonbills  NaN       4      yes

###  Replace the priority column values with'yes' should be 1 and 'no' should be 0

In [38]:
df['priority']=df['priority'].apply(lambda x : 1 if x=='yes' else 0)
df

        birds  age  visits  priority
i  spoonbills  8.0       3         0
e  spoonbills  6.0       3         0
g     plovers  5.5       2         0
j  spoonbills  4.0       2         0
b      Cranes  4.0       4         1
a      Cranes  3.5       2         1
f      Cranes  3.0       4         0
c     plovers  1.5       3         0
h      Cranes  NaN       2         1
d  spoonbills  NaN       4         1

### In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.

In [39]:
df["birds"].replace(to_replace="Cranes",value="trumpeters",inplace=True)
df

        birds  age  visits  priority
i  spoonbills  8.0       3         0
e  spoonbills  6.0       3         0
g     plovers  5.5       2         0
j  spoonbills  4.0       2         0
b  trumpeters  4.0       4         1
a  trumpeters  3.5       2         1
f  trumpeters  3.0       4         0
c     plovers  1.5       3         0
h  trumpeters  NaN       2         1
d  spoonbills  NaN       4         1